                                    /*Fonte header*/
@import url('https://fonts.googleapis.com/css?family=Heebo:800&display=swap');
/*=============================================================================================*/
.hero-txt{
    font-size: 4rem;
    font-family: 'Heebo', sans-serif;
    color: white;
}








